<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.core.dao.AuthUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.app.auth.dto.AuthUser">
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="deleted" property="deleted" />
    <result column="dateModified" property="dateModified" />
    <result column="dateEntered" property="dateEntered" />
    <result column="createdBy" property="createdBy" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="signType" property="signType" />
        <result column="openid" property="openid" />
        <result column="headImg" property="headImg" />
        <result column="enableFlg" property="enableFlg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
name,
deleted,
dateModified,
dateEntered,
createdBy,
        username, password, signType, openid, headImg, enableFlg
    </sql>
    <!-- 关联查询-->
    <resultMap id="RelevanceResultMap" type="com.app.auth.dto.AuthUser" extends="BaseResultMap">
        <association property="authRole" javaType="com.app.auth.dto.AuthRole">
            <result column="role_id" property="id" />
            <result column="role_name" property="name" />
            <result column="role_deleted" property="deleted" />
            <result column="role_dateModified" property="dateModified" />
            <result column="role_dateEntered" property="dateEntered" />
            <result column="role_createdBy" property="createdBy" />
            <result column="role_descn" property="descn" />
            <result column="role_enableFlg" property="enableFlg" />
        </association>
    </resultMap>
    <select id="selectUserInfo"  parameterType="com.app.auth.dto.AuthUser" resultMap="RelevanceResultMap">

       SELECT
	t3.*,
	t4.NAME role_name,
	t4.deleted role_deleted,
	t4.dateModified role_dateModified,
	t4.dateEntered role_dateEntered,
	t4.createdBy role_createdBy,
	t4.descn role_descn,
	t4.enableFlg role_enableFlg
FROM
	(
SELECT
	t1.*,
	t2.role_id
FROM
	(
SELECT
	id,
	NAME,
	deleted,
	dateModified,
	dateEntered,
	createdBy,
	username,
	PASSWORD,
	signType,
	openid,
	headImg,
	enableFlg
FROM
	t_auth_user
WHERE
	username = 'user'
	) t1
	LEFT JOIN t_auth_user_role t2 ON t1.id = t2.user_id
	) t3
	LEFT JOIN t_auth_role t4 ON t3.role_id = t4.id;


    </select>
</mapper>
