<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.auth.core.dao.AuthUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.app.auth.dto.AuthUser">
    <result column="id" property="id" />
    <result column="name" property="name" />
        <result column="rand" property="rand" />
    <result column="deleted" property="deleted" />
    <result column="date_modified" property="dateModified" />
    <result column="date_entered" property="dateEntered" />
    <result column="created_by" property="createdBy" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="sign_type" property="signType" />
        <result column="openid" property="openid" />
        <result column="headImg" property="headImg" />
        <result column="enable_flg" property="enableFlg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
name,
deleted,
date_modified AS dateModified,
date_entered AS dateEntered,
created_by AS createdBy,
        username, password,rand, sign_type AS signType, openid, headImg, enable_flg AS enableFlg
    </sql>
    <!-- 关联查询-->
    <resultMap id="RelevanceResultMap" type="com.app.auth.dto.AuthUser" extends="BaseResultMap">
        <association property="authRole" javaType="com.app.auth.dto.AuthRole">
            <result column="role_id" property="id" />
            <result column="role_name" property="name" />
            <result column="role_deleted" property="deleted" />
            <result column="role_dateModified" property="dateModified" />
            <result column="role_dateEntered" property="dateEntered" />
            <result column="role_createdBy" property="createdBy" />
            <result column="role_descn" property="descn" />
            <result column="role_enableFlg" property="enableFlg" />
        </association>
    </resultMap>
    <select id="selectUserInfo"  parameterType="java.lang.String" resultMap="RelevanceResultMap">

       SELECT
	t3.*,
	t4.NAME role_name,
	t4.deleted role_deleted,
	t4.date_modified role_dateModified,
	t4.date_entered role_dateEntered,
	t4.created_by role_createdBy,
	t4.descn role_descn,
	t4.enable_flg role_enableFlg
FROM
	(
SELECT
	t1.*,
	t2.role_id
FROM
	(
SELECT
        <include refid="Base_Column_List" />
FROM
	t_auth_user
WHERE
	username = #{username}
	) t1
	LEFT JOIN t_auth_user_role t2 ON t1.id = t2.user_id
	) t3
	LEFT JOIN t_auth_role t4 ON t3.role_id = t4.id;


    </select>

</mapper>
