<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head">
<body th:fragment="footer">

<div id="footer">
	<table style="font-size:13px;color:#000000;" width="881" border="0" cellspacing="0" cellpadding="0">
		<tbody>
		<tr>
			<td align="center" style="font-size: 10px; font-family: &#39;Arial Unicode MS&#39;;">
				粤ICP备14024890号 Copyright <span style="font-size: 12px;">©</span>2014 深圳市快德物流有限公司.</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>