<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head">
<body th:fragment="head">



<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tbody>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="0" width="100%" border="0">
				<tbody>
				<tr>
					<td width="100%" height="80">
               <span style="font-size: 45px;font-weight: bold; color: #0313D6;">深圳市快德物流有限公司<span>
					</td>
				</tr>
				<tr>
					<td width="100%">
						<div style="background: #FFF url(../images/hbg.jpg) repeat-x top center;width:95%;height:5px;">&nbsp;</div>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr>
					<td width="110">
						<a href="main"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage(&#39;hmenu1&#39;,&#39;&#39;,&#39;../images/hMenuover_01.gif&#39;,1)">
							<img src="../images/hMenu_01.gif" alt="首页" name="hmenu1" width="110" height="47" border="0">
						</a>
					</td>
					<td width="100">
						<a href="about"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage(&#39;hmenu2&#39;,&#39;&#39;,&#39;../images/hMenuover_02.png&#39;,1)">
							<img src="../images/hMenu_02.png" alt="关于快德" name="hmenu2" width="110" height="47" border="0">
						</a>
					</td>
					<td width="110">
						<a href="price"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage(&#39;hmenu8&#39;,&#39;&#39;,&#39;../images/hMenuover_03.png&#39;,1)">
							<img src="../images/hMenu_03.png" alt="报价查询" name="hmenu8" width="110" height="47" border="0">
						</a>
					</td>
					<td width="110">
						<a href="products"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage(&#39;hmenu3&#39;,&#39;&#39;,&#39;../images/hMenuover_04.png&#39;,1)">
							<img src="../images/hMenu_04.png" alt="产品展示" name="hmenu3" width="110" height="47" border="0">
						</a>
					</td>
					<td width="110">
						<a href="guide"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage(&#39;hmenu4&#39;,&#39;&#39;,&#39;../images/hMenuover_05.png&#39;,1)">
							<img src="../images/hMenu_05.png" alt="服务指南" name="hmenu4" width="110" height="47" border="0">
						</a>
					</td>
					<td width="110">
						<a href="jobs"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage(&#39;hmenu5&#39;,&#39;&#39;,&#39;../images/hMenuover_06.png&#39;,1)">
							<img src="../images/hMenu_06.png" alt="人力资源" name="hmenu5" width="110" height="47" border="0">
						</a>
					</td>
					<td width="110">
						<a href="query"  onmouseover="MM_swapImage(&#39;hmenu6&#39;,&#39;&#39;,&#39;../images/hMenuover_07.png&#39;,1)" onmouseout="MM_swapImgRestore()">
							<img src="../images/hMenu_07.png" alt="快件查询" name="hmenu6" width="110" height="47" border="0">
						</a>
					</td>
					<td width="110">
						<a href="contact"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage(&#39;hmenu7&#39;,&#39;&#39;,&#39;../images/hMenuover_08.png&#39;,1)">
							<img src="../images/hMenu_08.png" alt="联系我们" name="hmenu7" width="110" height="47" border="0">
						</a>
					</td>
				</tr>
				</tbody>
			</table>

		</td>
	</tr>
	</tbody>
</table>

</body>
</html>