body 	{color: #333333;}
.fontsize18 { font-size: 18px; line-height: 20px;}
.fontsize14 {  font-size: 14px; }
.fontsize12 {  font-size: 12px;line-height: 20px;}
.fontsize12N {  font-size: 12px; }
.fontsize10 { font-size: 10px; line-height: 14px;}
.fontsize1414 { font-size: 14px; line-height: 14px;}
.title1{
	font-size: 14px;
	background-color:#94B9E4;
	}
.title2{
	 font-size: 12px;
	background-color:#CCDEF3;
	}
.tdleft{  font-size: 12px; line-height: 14px;background-color:#EEEEEE;}
.tdright{  font-size: 12px; line-height: 14px;background-color:#FFFFFF;}
.fontsize16 { font-size: 16px; line-height: 18px;}
.fontsize11 { font-size: 11px; line-height: 13px;}
.fontsize13 { font-size: 13px; line-height: 15px;}

 a:Link{text-decoration:none;color:#0000ff;font-size:12px;}
 a:Visited{text-decoration:none;color:#0000ff;font-size:12px;}
 a:hover{text-decoration:underline;color:#0000ff;font-size:12px;}
 a:Active{text-decoration:none;color:#0000ff;font-size:12px;}


.BlueLinkTitle {color:#0000ff;font-size: 12px;line-height: 20px;}
.BlueLinkTitle a:Link{text-decoration:none;color:#0000ff;}
.BlueLinkTitle a:Visited{text-decoration:none;color:#0000ff;}
.BlueLinkTitle a:hover{text-decoration:underline;color:#0000ff;}
.BlueLinkTitle a:Active{text-decoration:none;color:#0000ff;}

.BlueLinkText {color:#0000ff;font-size: 12px;line-height: 20px;margin:0px 0px 0px 15px;}
.BlueLinkText a:Link{text-decoration:none;color:#0000ff;}
.BlueLinkText a:Visited{text-decoration:none;color:#0000ff;}
.BlueLinkText a:hover{text-decoration:underline;color:#0000ff;}
.BlueLinkText a:Active{text-decoration:none;color:#0000ff;}


.ExpressLink{color:#0000ff;font-size: 12px; line-height:20px;}
.ExpressLink a:Link{text-decoration:none;color:#0000ff;}
.ExpressLink a:Visited{text-decoration:none;color:#0000ff;}
.ExpressLink a:hover{text-decoration:underline;color:#0000ff;}
.ExpressLink a:Active{text-decoration:none;color:#0000ff;}

.ExpressText{ margin:0px 0px 0px 15px; font-size:12px; line-height:20px;}
.ExpressText a:Link{text-decoration:none;color:#0000ff;}
.ExpressText a:Visited{text-decoration:none;color:#0000ff;}
.ExpressText a:hover{text-decoration:underline;color:#0000ff;}
.ExpressText a:Active{text-decoration:none;color:#0000ff;}

.honbun {		/*12PX*/
	font-size:12px;
	line-height:15px;
	font-weight:normal;
	color:#333333;
	padding:0 20px 0 40px;
}

.honbun_center {	/*12PX*/
	font-size:12px;
	line-height:15px;
	font-weight:normal;
	color:#333333;
	text-align:center;
}

.honbun a:link, .honbun a:visited { 
	color:#FF6600;
}
.midashi2 {	
	font-size:14px;
	color:#8B0000;
	line-height:20px;
	font-weight:bold;
	padding-right:10px;
}

