<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head">

<body th:fragment="page">

  <div style="font-family:宋体,Arial; font-size: 12px; color: #3333FF; line-height: 18px;height:90%">
    <div style="line-height: 25px;"><h3>关于我们</h3></div>
    <div style="line-height: 25px;">
      <p style="padding: 10px;line-height: 25px;">
      深圳市快德物流有限公司成立于2013年，是在珠江三角区从事国际快递和国际货运代理业务的驰名企业之一。
      </p>
      <p style="padding: 10px;line-height: 25px;">公司总部位于深圳市龙岗区，同时与UPS、FEDEX、DHL、OCS等多家国际快递品牌公司有着良好的合作，快德物流自身还拥有独特的空运渠道和直达日本的专线和台湾专线等专线服务，空运、海运及国内运输服务。本公司拥有健康的运营体系，高效的管理制度，完善的培训机制，活泼的工作氛围，我们将直接面对市场需求，为客户提供热情、优质、可靠的服务。
      </p>
      <p style="padding: 10px;line-height: 25px;">快速、准确、安全是我们的承诺，诚信、坚持、创新是我们的原则。我们拥有一批从事国际快递、进出口货物报关、航空货物运输资深经验的专业人员为您做到门到门的贴身服务，选择快德将就选择了安全、快速、省心、经济。
      </p>
      <p style="padding: 10px;line-height: 18px;">
        地址：广东省深圳市龙岗区横岗街道西坑社区梧岗路29号101
      <br>
      电话：0755-28379563
      <br>
      业务及咨询专线：15915418008
      </p>
    </div>
  </div>



</body>
</html>