<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head">

<body th:fragment="page">
  <div style="font-family:宋体,Arial; font-size: 12px; color: #3333FF; line-height: 18px;height:90%">
    <div style="line-height: 25px;"><h3>联系我们</h3></div>
    <div style="line-height: 25px;">
      <p style="padding: 10px;line-height: 18px;">
        地址：广东省深圳市龙岗区横岗街道西坑社区梧岗路29号101
      <br>
      电话：0755-28379563
      <br>
      业务及咨询专线：15915418008
      </p>
    </div>
  </div>



</body>
</html>