<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head">

<body th:fragment="page">
<table width="880" height="400" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="width:222px;" valign="top">
        <table width="100%" border="0" cellpadding="0" cellspacing="2">
          <tbody>
            <tr>
                <td colspan="2" class="left_title" height="33"><b>服务指南</b></td>
            </tr>
            <tr>
                <td colspan="2" height="1" bgcolor="#333399"></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a  href="#guide-1">国际快递基本常识计重方式</a></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a  href="#guide-2">计费方式</a></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a  href="#guide-3">关于海关查验的问题</a></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a  href="#guide-4">关于关税的问题</a></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a  href="#guide-5">国际快件丢失赔偿标准</a></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a  href="#guide-6">其它注意事项</a></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a  href="#guide-7">违法禁运物品清单</a></td>
            </tr>
          </tbody>
        </table>
      </td>
    <td valign="top">
      <div class="cssSort3Con cssArticle" style="overflow: auto">
        <a name="guide-1"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          国际快递基本常识计重方式：
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          实重：货物包装完好后的实际重量。
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          体重：货物的体积重量计算公式为：长（CM）X宽（CM）X高（CM）/5000   非规则包装的货物，则各采用最长长，最大宽，最高高作为物体的长宽高。
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">

          计算所得的体积重量与称得的实际重量相比较，二者中取较大者作为货重物的计值。
        </p>
        <a name="guide-2"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          计费方式：
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          当计重值小于21KG时，按首续重的计费方式，计量单位为0.5KG，不满0.5KG按0.5KG计算。
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          当计重值等于或大于21KG时，可以享受到大货优惠价格，计量单位为1KG，不满1KG按1KG计算。
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          EMS邮政全球速递没有大货优惠价格，全部都是按照首续重的计费方式，计量单位为0.5KG 不足0.5KG按0.5KG计算。
        </p>
        <a name="guide-3"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          关于海关查验的问题：
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          所有国际货物包括个人用品，都需要经过中国海关部门的出关检查，到达目标国后，还需要经由目的国海关部门审查。一旦货物被海关扣留查验或直接扣押，将会是我们无法干预的情况。因此，由于海关部门而产生的货物延误、扣押，我们不提供任何赔偿。因此，寄递快件前，请咨询在线客服，并详细说明货物的名称及产品属性。我们将根据我们多年的国际快递经验，为您合理地填写海关申资料，尽可能地合理地避免关税。

        </p>
        <a name="guide-4"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          关于关税的问题：
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">

          海关税费，是由目的国家的海关部门根据当地的海关政策而征收的一种税收。由于关税由当地海关部门确定相关标准并强制收取，不同货物的关税标准不一。因此，国际快递运费报价中，不包含相关的海关税费。而按国际快递的惯例，海关税费默认由收件方支付，如需由发件方支付，请填写运单时注明如产生任何海关税费，由发件方支付。
        </p>
        <a name="guide-5"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          国际快件丢失赔偿标准:
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          1.国际专线:退还寄件时费用，并且货物按实际申报价值进行赔偿，但赔偿最高金额不超过：文件100元/票，包裹600元/票。
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          2.五大国际快递品牌快件丢失时，按各自官方公布的相关赔偿标准执行，我司可先行赔付。
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          3.购买保价保险的则按保价协议进行赔付，最高赔付金额为6000元。
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          注: 确认货物是否丢失时间30天，确认货物丢失后，我们将会在10工作日内作出赔偿。
        </p>
        <a name="guide-6"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          其它注意事项：
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          1、由于寄件人提供的收件人地址、邮编、联系电话错误，无法联系收件人而产生的延误或退件，我们不负担任何责任，且不退还快件运费。
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          2、由于寄件人隐满货件实情，而导致海关扣押、销毁等情况的，我们不负担任何责任。如因此造成任何意外伤害的后果，我们将保留协助相关国家部门追究寄件人法律责任的权利
        </p>

        <a name="guide-7"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          违法禁运物品清单：
        </p>
        <div style="padding:5px;text-align:left;width:600px; height:100%;word-break:break-all;font-size: 13px;line-height: 18px;">
          一、危险品
          <br>爆炸物&nbsp;Explosives&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;压缩气体&nbsp;Compresssed&nbsp;gas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可燃物Flammable&nbsp;&nbsp;&nbsp;&nbsp;毒药Poison&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有毒物质&nbsp;Toxic
          <br>传染物质&nbsp;Infectious&nbsp;&nbsp;放射性物质&nbsp;Radioactive&nbsp;&nbsp;腐蚀剂&nbsp;Corrosive
          <br>注意：ORM-D,ID,以及UN字眼也是危险品的标志
          <br>
          <br>二、违禁品
          <br>1&nbsp;剧毒、易燃、易爆、军用物品及零部件、毒品、腐蚀性、粉末状、液体、磁性物品禁止出口
          <br>2化学物品、打火机禁止出口
          <br>3电池：除锂电和蓄电池外，其它可以出口
          <br>4食品（包括与身体密切接触的物品）、药品：去美国需要提供FDA号码，其它国家禁止出口
          <br>5原木包装：需要做熏蒸，根据目的地不同需要当时咨询
          <br>6纺织品、鞋类：如果做样品处理（即在明显位置剪烂或盖Sample章）可以出口到任何国家，如果是非样品要根据不同目的地国家的要求不同来确定是否可以出口，需要收件人咨询当地海关。
          <br>7整台自行车、风扇、黑白电视机、电冰箱、空调：禁止出口
          <br>8冒牌：需提供授权书
          <br>9私人物品：提供收件人护照或身份证
          <br>10影像资料：不能是色情类物品
          <br>11钱币、纯金、纯银、国宝、古董、文物：禁止出口
          <br></div>
      </div>
    </td>
    </tr>
  </tbody>
</table>


</body>
</html>