<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head">

<body th:fragment="page">
<div class="nr">
				<div class="nr_bt">
					<h4 align="center">销售精英</h4>	
				
				</div>
				<div class="nr_text"><p>
</p><table border="0" cellspacing="1" cellpadding="0" width="100%" style="width: 100%; background: #999999">
    <tbody>
        <tr style="height: 22.5pt">
            <td width="15%" style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; width: 15%; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">职位名称</span></div>
            </td>
            <td width="35%" style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; width: 35%; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center">&nbsp;<span style="color: #053f7b; font-size: 9pt">销售精英</span></div>
            </td>
            <td width="15%" style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; width: 15%; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">招聘人数</span></div>
            </td>
            <td width="30%" style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; width: 30%; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">&nbsp;40</span><span style="color: #053f7b; font-size: 9pt">名</span></div>
            </td>
        </tr>
        <tr style="height: 22.5pt">
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">工作地址</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center">&nbsp;<span style="color: #053f7b; font-size: 9pt">福永10</span><span style="color: #053f7b; font-size: 9pt">名、龙华10</span><span style="color: #053f7b; font-size: 9pt">名、观澜10</span><span style="color: #053f7b; font-size: 9pt">名、龙岗10</span><span style="color: #053f7b; font-size: 9pt">名</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">年龄要求</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">&nbsp;22</span><span style="color: #053f7b; font-size: 9pt">岁以上</span></div>
            </td>
        </tr>
        <tr style="height: 22.5pt">
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">户</span><span style="color: #053f7b; font-size: 9pt">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #053f7b; font-size: 9pt">籍</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center">&nbsp;<span style="color: #053f7b; font-size: 9pt">不限</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">专业要求</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">有无均可</span></div>
            </td>
        </tr>
        <tr style="height: 22.5pt">
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">外语要求</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center">&nbsp;<span style="color: #053f7b; font-size: 9pt">不限</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">工作性质</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center">&nbsp;<span style="color: #053f7b; font-size: 9pt">销售</span></div>
            </td>
        </tr>
        <tr style="height: 22.5pt">
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">性</span><span style="color: #053f7b; font-size: 9pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</span><span style="color: #053f7b; font-size: 9pt">别</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center">&nbsp;<span style="color: #053f7b; font-size: 9pt">不限</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">学</span><span style="color: #053f7b; font-size: 9pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</span><span style="color: #053f7b; font-size: 9pt">历</span></div>
            </td>
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center">&nbsp;<span style="color: #053f7b; font-size: 9pt">高中以上</span></div>
            </td>
        </tr>
        <tr style="height: 22.5pt">
            <td style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center"><span style="color: #053f7b; font-size: 9pt">职责要求</span></div>
            </td>
            <td colspan="3" style="border-bottom-color: #f0f0f0; padding-bottom: 3.75pt; border-top-color: #f0f0f0; padding-left: 3.75pt; padding-right: 3.75pt; background: white; height: 22.5pt; border-right-color: #f0f0f0; border-left-color: #f0f0f0; padding-top: 3.75pt">
            <div style="text-align: center; line-height: 19.5pt" align="center">&nbsp;<span style="color: #053f7b; font-size: 9pt">形象佳，性格外向，沟通能力强，有耐心、恒心，能吃苦耐劳；有强烈信心在物流行业发展者优先。</span></div>
            </td>
        </tr>
    </tbody>
</table>
<p></p><br>
  <span style="color: #053f7b; font-size: 9pt">应聘电话：0755-28379563</span>

			</div>

<div style="height:160px"></div>

</body>
</html>