<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head">

<body th:fragment="page">

  <div  style="overflow: scroll">
    <div id="slide" style="overflow: hidden;"><img style="position: absolute;left: -320px;" alt="" src="images/ban2.jpg"></div>

    <div style="background: #FFF url(images/index_bg.jpg) repeat-x top center;">
      <div id="divPage">
        <div id="divBody">
          <div id="divLeft">
            <div class="cssKuaijian">

              <textarea id="noarr" class="txtKuaijian" name="bills" cols="25" rows="2" title="运单号码|~125:!"></textarea>

              <div class="cssBtnzz">
                <input type="image" name="imgQuery" id="imgQuery" src="../images/btnquery.jpg" style="border-width:0px;" onclick="linkbtn();">
                要追踪货件，请先输入10位数的运单编号，例如 0123456789.
                <div class="help">
                  <a title="" onmouseover="document.getElementById(&quot;help&quot;).style.display=&quot;block&quot;" href="javascript:void(0)">使用帮助</a>
                  <div id="help" class="txthelp" style="width:287px; ">
                    <a href="javascript:void(0);" style="display:block; text-align:right;" title="点击关闭" onclick="document.getElementById(&quot;help&quot;).style.display=&quot;none&quot;">关闭</a>
                    使用说明：为使您能掌握货件派送的状况，我们提供简单易用、快捷准确的货物追踪系统。本系统列出资料包括货件在进入我们快德系统后的整个转运过程，包括是否已被派送、签收等等情况。您只需填上所属货物的快德运单号，按“查询”按钮，便可获得第一手转运资料。要追踪货件，请先输入10位数的运单编号，例如 0123456789。</div>
                </div>

              </div>
            </div>
            <div class="cpfw"><a title="产品服务" href="javascript:void(0);"><img alt="" src="../images/cpfw.jpg"></a></div>
            <div class="fwzn"><a title="服务指南" href="javascript:void(0);"><img alt="" src="../images/fwzn.jpg"></a></div>
          </div>
          <div id="divRight">
            <div id="con">
              <ul id="tags">
                <li  class="selectTag">
                <span class="tagr">
                  <span class="tagl">
                    <a onmouseover="selectTag('tagContent0',this)" href="javascript:void(0)">公司新闻</a>
                  </span>
                </span>
                </li>
                <li>
                <span class="tagr">
                  <span class="tagl">
                    <a onmouseover="selectTag('tagContent1',this)" href="javascript:void(0)">行业动态</a>
                  </span>
                </span>
                </li>
                <li>
                <span class="tagr">
                  <span class="tagl">
                    <a onmouseover="selectTag('tagContent2',this)" href="javascript:void(0)">重要通知</a>
                  </span>
                </span>
                </li>
              </ul>
              <div id="tagContent">
                <div class="tagContent  selectTag" id="tagContent0">
                  <dl>
                    <dt>
                      <a target="view" title="快德物流启用全新LOGO" href="javascript:void(0);">
                        <img alt="快德物流启用全新LOGO" src="../images/logo.jpg"></a>
                    </dt>
                    <dd>
                      <a target="view" title="快德物流启用全新LOGO" href="javascript:void(0);">快德物流启用全新LOGO</a>
                    </dd>
                  </dl>

                  <ul>
                    <li>
                      <a target="view" title="小公司，大服务：快德助您走向成功" href="info-2.html">小公司，大服务：快德助您走向成功</a>
                    </li>
                    <li>
                      <a target="view" title="快德物流日本线启动" href="javascript:void(0);">快德物流日本线启动</a>
                    </li>
                    <li>
                      <a target="view" title="TNT荣获“2009中国最佳呼叫中心”大奖【转自TNT】" href="javascript:void(0);">TNT荣获“2009中国最佳呼叫中心”大奖【转自TNT</a>
                    </li>
                  </ul>
                </div>
                <div class="tagContent" id="tagContent1" style="display: none;">
                  <dl>
                    <dt>
                      <a target="view" title="航空托运手续办理" href="javascript:void(0);">
                        <img alt="航空托运手续办理" src="../images/201269165539480.jpg"></a>
                    </dt>
                    <dd>
                      <a target="view" title="航空托运手续办理" href="javascript:void(0);">航空托运手续办理</a>
                    </dd>
                  </dl>

                  <ul>
                    <li>
                      <a target="view" title="圣诞节美国网购井喷：快递与商家措手不及" href="info-1.html">圣诞节美国网购井喷：快递与商家措手不及</a>
                    </li>
                    <li>
                      <a target="view" title="韩国两大海运物流企业首次开辟福州-韩国航线" href="info-3.html">韩国两大海运物流企业首次开辟福州-韩国航线</a>
                    </li>
                    <li>
                      <a target="view" title="消费税增税带来运输业务高峰 业界面临人手不足" href="info-6.html">消费税增税带来运输业务高峰 业界面临人手不足</a>
                    </li>
                    <li>
                      <a target="view" title="日本两大航空公司“抢新航线”" href="info-7.html">日本两大航空公司“抢新航线”</a>
                    </li>
                    <li>
                      <a target="view" title="无人机物流或受制法规空白" href="javascript:void(0);">无人机物流或受制法规空白</a>
                    </li>
                  </ul>
                </div>
                <div class="tagContent" id="tagContent2" style="display: none;">
                  <dl>
                    <dt>
                      <a target="view" title="航空快递禁运物品!" href="javascript:void(0);">
                        <img alt="航空快递禁运物品!" src="../images/2012691761839.jpg"></a>
                    </dt>
                    <dd>
                      <a target="view" title="航空快递禁运物品!" href="javascript:void(0);">航空快递禁运物品!</a>
                    </dd>
                  </dl>
                  <ul>
                    <li>
                      <a target="view" title="2014年4月份燃油" href="info-4.html">2014年4月份燃油</a>
                    </li>
                    <li>
                      <a target="view" title="2014年3月份燃油" href="info-5.html">2014年3月份燃油</a>
                    </li>
                    <li>
                      <a target="view" title="2014年2月份燃油" href="javascript:void(0);">2014年2月份燃油</a>
                    </li>
                    <li>
                      <a target="view" title="2014年1月份燃油" href="javascript:void(0);">2014年1月份燃油</a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="cssGywm">
              <div class="cssSort1 left mal8">
                <div class="cssSort1Tit">
                  <h2>关于快德</h2>
                </div>
                <div class="cssSort1Con">
                  <p>
                    <a target="view" href="javascript:void(0);">
                      <img alt="" style="border-bottom: rgb(255,255,255) 1px solid; border-left: rgb(255,255,255) 1px solid; width: 98px; float: left; height: 78px; border-top: rgb(255,255,255) 1px solid; margin-right: 8px; border-right: rgb(255,255,255) 1px solid" src="../images/pic2.jpg">
                    </a>深圳市快德物流有限公司成立于2013年，是在珠江三角区从事国际快递和国际货运代理业务的驰名企业之一。公司总部位于深圳市龙岗区，同时与UPS、FEDEX、DHL、OCS等多家国际快递品牌公司有着良好的合作。【<a target="view" href="about.html">详情点击</a>】</p>
                </div>
              </div>

              <div class="cssSort1 right mar8">
                <div class="cssSort1Tit">
                  <a class="cssMore" title="" href="javascript:void(0);"></a>
                  <h2>快德风采</h2>
                </div>
                <div class="cssSort1Con">
                  <div id="demoLeft">
                    <div class="indemo">
                      <div id="demo1">
                        <ul>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/1.jpg"><br>快德资讯</a></li>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/pic2.jpg"><br>快德资讯</a></li>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/3.jpg"><br>快德资讯</a></li>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/4.jpg"><br>快德资讯</a></li>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/5.jpg"><br>快德资讯</a></li>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/6.jpg"><br>快德资讯</a></li>
                        </ul>
                      </div>
                      <div id="demo2">
                        <ul>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/1.jpg"><br>快德资讯</a></li>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/pic2.jpg"><br>快德资讯</a></li>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/3.jpg"><br>快德资讯</a></li>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/4.jpg"><br>快德资讯</a></li>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/5.jpg"><br>快德资讯</a></li>
                          <li><a title="" href="javascript:void(0);"><img alt="" src="../images/6.jpg"><br>快德资讯</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <script type="text/javascript" src="js/rolling.js"></script>
                </div>
              </div>

              <div class="cssGywmbot"></div>

            </div>
          </div>

        </div>



      </div>

    </div>

  </div>

</body>

</html>