<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head">

<body th:fragment="page">
  <div style="background: #FFF url(../images/index_bg.jpg) repeat-x top center;font-family:宋体,Arial; font-size: 12px; color: #3333FF; line-height: 18px;height:90%;overflow-x: hidden;">
    <div ><h3>报价查询</h3></div>
    <div >
      <p style="padding: 10px;line-height: 25px;">
      （1）：每件包裹最大重量为70公斤
      </p>
      <p style="padding: 10px;line-height: 25px;">
      （2）：每件包裹最大长度为270厘米
      </p>
      <p style="padding: 10px;line-height: 25px;">
      （3）：每件包裹最大尺寸：长+周长［（2 x 宽）+（2 x 高）］= 419厘米
      </p>
      <p style="padding: 10px;line-height: 25px;">
      （4）：体积重量：快递费用会受快件所占机舱空间影响，而不是由实际重量决定。    这就是体积重量。
      </p>
      <p style="padding: 10px;line-height: 25px;">
       
       快德物流中国公布价：                               （单位：人民币）  
      </p>
      <p style="padding: 10px;line-height: 25px;">
        文件资料 首重120/每0.5KG           续重45/每0.5KG   
      </p>
      <p style="padding: 10px;line-height: 25px;">
        货物包裹 首重210/每0.5KG           续重45/每0.5KG   
      </p>
      <p style="padding: 10px;line-height: 25px;">
          31KG以上免首重      　 88RMB/KG 
      </p>
      <p style="padding: 10px;line-height: 25px;">
      </p>
    </div>
  </div>



</body>
</html>