<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head">

<body th:fragment="page">
<table width="880" height="450" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="width:222px;" valign="top">
        <table width="100%" border="0" cellpadding="0" cellspacing="2">
          <tbody>
            <tr>
                <td colspan="2" class="left_title" height="33"><b>产品展示</b></td>
            </tr>
            <tr>
                <td colspan="2" height="1" bgcolor="#333399"></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a target="ifr" href="products-1.html#pro-1">中港自提及香港派送件服务</a></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a target="ifr" href="products-1.html#pro-2">UPS国际快递服务</a></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a target="ifr" href="products-1.html#pro-3">DHL国际快递服务</a></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a target="ifr" href="products-1.html#pro-4">日本专线</a></td>
            </tr>
            <tr>
              <td width="14%" align="center"><img src="../images/arr.gif" width="4" height="6"></td>
              <td width="86%"><a target="ifr" href="products-1.html#pro-5">台湾专线</a></td>
            </tr>
          </tbody>
        </table>
      </td>
    <td valign="top">
      <div class="cssSort3Con cssArticle">
        <a name="pro-1"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          中港自提及香港派送件服务：
        </p>
        <p style="padding: 10px;line-height: 22px;font-size: 13px;">
          提供从深圳到香港的散货自提、香港本地派送服务，提供香港亚洲货柜码头和香港新机场的派送入仓服务；操作简便，自提货物客户只需注明是自提件并提供收货人电话。香港派送件只需提供收货人详细地址及电话，便可以享受安全准点的服务

        </p>
        <a name="pro-2"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          UPS国际快递服务：
        </p>
        <p style="font-size: 13px;">１：EXPRESS PLUS红单加急：30个国家8:00/8:30前派送，<br>
          ２：EXPRESS SM 红单特快：49个国家10:30/12:00前派送，<br>
          ３：EXPRESS SAVER 红单速快：215个国家工作日结束派送,<br>
          ４：EXPEDITED 蓝单快捷：73个国家5个工作日内派送，<br>
          ５：更改地址<br>
          　　每更改收件人地址一次，每件包裹需额外加收RMB68，最高收费为每票货件RMB280。如因地址不正确<br>
          　　或因地址为邮政信箱无法递送时，此费用由寄件人支付。<br>
          ６：偏远地区附加费<br>
          　　部分超出UPS服务范围的偏远地区可能额外收费。收费标准为每公斤货件加收RMB3.40，或最低收取每<br>
          　　票RMB167。两者比较取其较大者为收费标准。欲知您所托运的包裹的目的地是否属于此特定地区，请<br>
          　　至ups.com®(中国)下载偏远地区收费表，或致电UPS客户服务中心。<br>
          ７：附加手续费*<br>
          　　如出现下列情况，则需每件加收附加手续费RMB40:<br>
          　　　• 任何以金属或木质非UPS包装材料运输的物品<br>
          　　　• 任何无法完全装入一般包装箱的圆柱形物品，例如：木桶、鼓、圆筒或者轮胎<br>
          　　　• 任何最长边缘的长度超过152厘米或次长边缘超过76厘米的包裹<br>
          　　　• 实际重量大于32公斤的包裹<br>
          　　　• 一票货件内单个平均重量大于32 公斤的包裹，以及重量未在所使用的原始文件或UPS自动运输系统<br>
          　　　　中指明的包裹<br>
          ８：大型包裹附加费–最小计费重量(MBW)<br>
          　　当一个包裹的长度与周长[( 2 x 宽)+ ( 2 x 高)] 相加超过330 厘米，但不超过UPS的最大尺寸419 厘米时，<br>
          　　该包裹将被视为“大型包裹”。大型包裹的最小计费重量为4 0公斤，每件包裹需额外加收RMB378。<br>
          　　当货件已经被收取大型包裹附加费时，附加手续费将忽略不计。<br>
          　　• 每件包裹最大重量为70公斤<br>
          　　• 每件包裹最大长度为270厘米<br>
          　　• 每件包裹最大尺寸：长+周长［（2 x 宽）+（2 x 高）］= 419厘米<br>
          　　计算体积重量*：<br>
          　　将包裹的总体积尺寸数值除以5,000得到以公斤为单位的体积重量。不足1公斤，以下一个整数为准。<br>
          　　体积重量(公斤) =长 x 宽 x 高/5,000&nbsp;&nbsp; 长、宽、高 单位 : 厘米</p>
        <a name="pro-3"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          DHL国际快递服务：
        </p>
        <big style="font-size: 13px;line-height: 18px;">（1）：每件包裹最大重量为70公斤<br>
          （2）：每件包裹最大长度为270厘米<br>
          （3）：每件包裹最大尺寸：长+周长［（2 x 宽）+（2 x 高）］= 419厘米<br>
          （4）：体积重量：DHL快递<br>
          &nbsp;* 快递费用会受快件所占机舱空间影响，而不是由实际重量决定。&nbsp;&nbsp;&nbsp; 这就是体积重量。<br>
          &nbsp;*使用我们的工具计算体积重量<br>
          &nbsp;*什么是体积重量？<br>
          *DHL 最新计价方式对您的益处<br>
          &nbsp;*如何为您的快件计算体积重量<br>
          &nbsp;*DHL快递的体积除数均改为5000。按照下列公式计算：<br>
          &nbsp;*长*宽*高/5000&nbsp;&nbsp;&nbsp; 长*宽*高&nbsp;&nbsp;&nbsp; 度量单位为厘米<br>
          &nbsp;*您可以使用此计算工具来确定DHL快件的体积重量。</big>
        <a name="pro-4"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          日本专线：
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          我司与SAGAWA express 日本佐川急便快递服务我司日本线快递与日本最大的快递公司“佐川急便”（SAGAWA）及“黑猫宅急便”有多年良好的合作关系，我们会利用我们全面的网络式空中和陆地路线，为您提供解决问题的最佳方案，用一站式服务来支持你的业务，以履行你物流方面的需求。
        </p>
        <a name="pro-5"></a>
        <p style="padding: 10px;line-height: 18px;font-weight: bold;">
          台湾专线:
        </p>
        <p style="padding: 10px;line-height: 18px;font-size: 13px;">
          一日达、多日达经济快递服务。特殊货件根据清关要求1-3个工作日后配送，当日下午14点截件
        </p>

      </div>

      <div style="height:500px;"></div>

    </td>
    </tr>
  </tbody>
</table>


</body>
</html>