<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head">

<body th:fragment="page">

    <table width="530px" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr> 
		<td width="23"><img src="../images/t_icon01.gif" width="25" height="23"></td>
		<td width="507">
      <span style="color: #99460F;font-weight: bold;font-size: 13px;">货物情况查询<span>
    </td>
	</tr>
	<tr style="height:25px;">
	    <td></td>
	</tr>
    </tbody>
</table>



        
        <table class="TextField"> 
            <tbody><tr>
                <td style="width:150px">
                    <textarea name="noarr" id="noarr" cols="20" rows="10" style="height: 120px; width:150px float:left;"></textarea>       
                </td>
                <td style="width:30px">
                </td>
                <td style="width:350px">
                    查询客户委托的货物情况以及派送情况。
                    请输入运单（CARGO RECEIPT）号码。
                    例：10059887213
                    注意：请去掉中间的横线，只需要输入数字。<br>
                    <br>
                    <span id="LabelTips" class="TextField" style="color:Red;">若需要查询两票以上货物，请按ENTER键作切分,最多可以查询10个号码</span>
                    <br>
                    <input id="Submit" type="button" value="查询(Search)" onclick="linkbtn();">
                    <input id="Clear" type="button" value="清除(Clear)" onclick="return Clear_onclick()">
                    <br>
                    
                </td>
            </tr>
        </tbody></table>

                
    <a name="Query"></a>
    
    


<div style="height:320px"></div>

</body></html>