<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdwl.invoice.dao.ActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kdwl.invoice.entity.Activity">
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="deleted" property="deleted" />
    <result column="date_modified" property="dateModified" />
    <result column="date_entered" property="dateEntered" />
    <result column="created_by" property="createdBy" />
        <result column="kdno" property="kdno" />
        <result column="teamtype" property="teamtype" />
        <result column="teamname" property="teamname" />
        <result column="teamno" property="teamno" />
        <result column="activitytext" property="activitytext" />
        <result column="recordtime" property="recordtime" />
        <result column="location" property="location" />
        <result column="memo" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
name,
deleted,
date_modified AS dateModified,
date_entered AS dateEntered,
created_by AS createdBy,
        kdno, teamtype, teamname, teamno, activitytext, recordtime, location, memo
    </sql>

</mapper>
