<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.modules.invoice.dao.ShipmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.app.modules.invoice.entity.Shipment">
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="deleted" property="deleted" />
    <result column="date_modified" property="dateModified" />
    <result column="date_entered" property="dateEntered" />
    <result column="created_by" property="createdBy" />
        <result column="kdno" property="kdno" />
        <result column="teamtype" property="teamtype" />
        <result column="teamname" property="teamname" />
        <result column="teamno" property="teamno" />
        <result column="shipper" property="shipper" />
        <result column="deliverytime" property="deliverytime" />
        <result column="receiver" property="receiver" />
        <result column="gtype" property="gtype" />
        <result column="actualweight" property="actualweight" />
        <result column="volweight" property="volweight" />
        <result column="chargeweight" property="chargeweight" />
        <result column="createtime" property="createtime" />
        <result column="modifytime" property="modifytime" />
        <result column="receiveflag" property="receiveflag" />
        <result column="awunit" property="awunit" />
        <result column="vwunit" property="vwunit" />
        <result column="cwunit" property="cwunit" />
        <result column="pcsunit" property="pcsunit" />
        <result column="uid" property="uid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
name,
deleted,
date_modified AS dateModified,
date_entered AS dateEntered,
created_by AS createdBy,
        kdno, teamtype, teamname, teamno, shipper, deliverytime, receiver, gtype, actualweight, volweight, chargeweight, createtime, modifytime, receiveflag, awunit, vwunit, cwunit, pcsunit, uid
    </sql>

</mapper>
