package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.Mapper;

import java.util.List;

/**
 *   @description : ${entity} Mapper 接口
 *   ---------------------------------
 * 	 @author ${author}
 *   @since ${date}
 */
@Mapper
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}