<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>共享管理平台</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
<div class="lowin lowin-blue">
    <div class="lowin-brand">
        <img src="/ico/company.ico.png" alt="logo">
    </div>
    <div class="lowin-wrapper">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <form th:action="@{/app/hello}" method="post">
                    <p>登录</p>
                    <div class="lowin-group">
                        <label>用户名 <a href="#" class="login-back-link">Sign in?</a></label>
                        <input type="text" autocomplete="email" name="username" class="lowin-input">
                    </div>
                    <div class="lowin-group password-group">
                        <label>密码 <a href="#" class="forgot-link">忘记密码?</a></label>
                        <input type="password" name="password" autocomplete="current-password" class="lowin-input">
                    </div>
                    <button >
                        登录
                    </button>

                    <div class="text-foot">
                        没有账号? <a href="" class="register-link">注册</a>
                    </div>
                </form>
                <form name='f' action="login" method='POST'>
                    <table>
                        <tr>
                            <td>User:</td>
                            <td><input type='text' name='username' value=''></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input type='password' name='password' /></td>
                        </tr>
                        <tr>
                            <td><input name="submit" type="submit" value="submit" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div class="lowin-box lowin-register">
            <div class="lowin-box-inner">
                <form>
                    <p>创建您的账户</p>
                    <div class="lowin-group">
                        <label>用户名</label>
                        <input type="text" name="name" autocomplete="name" class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <label>用户名</label>
                        <input type="text" autocomplete="email" name="username" class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <label>密码</label>
                        <input type="password" name="password" autocomplete="current-password" class="lowin-input">
                    </div>
                    <button class="lowin-btn">
                        注册
                    </button>

                    <div class="text-foot">
                        已有账号? <a href="" class="login-link">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="lowin-footer">
        服务支持 <a href="http://fb.me/itskodinger">@熊猫工作室</a>
    </footer>
</div>

<script src="/js/auth.js"></script>
<script>
    Auth.init({
        login_url: '#login',
        forgot_url: '#forgot'
    });
</script>
</body>
</html>