<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bns.dao.Integral.UserIntegralFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.app.bns.dto.Integral.UserIntegralFlow">
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="deleted" property="deleted" />
    <result column="date_modified" property="dateModified" />
    <result column="date_entered" property="dateEntered" />
    <result column="created_by" property="createdBy" />
    <result column="update_by" property="updateBy" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="total_integral" property="totalIntegral" />
        <result column="last_integral" property="lastIntegral" />
        <result column="used_integral" property="usedIntegral" />
        <result column="order_id" property="orderId" />
        <result column="parent_id" property="parentId" />
        <result column="date_start" property="dateStart" />
        <result column="period" property="period" />
        <result column="date_last" property="dateLast" />
        <result column="ext1" property="ext1" />
        <result column="ext2" property="ext2" />
        <result column="ext3" property="ext3" />
        <result column="ext4" property="ext4" />
        <result column="ext5" property="ext5" />
        <result column="ext6" property="ext6" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
name,
deleted,
date_modified AS dateModified,
date_entered AS dateEntered,
created_by AS createdBy,
update_by AS updateBy,
        user_id AS userId, type, status, total_integral AS totalIntegral, last_integral AS lastIntegral, used_integral AS usedIntegral, order_id AS orderId, parent_id AS parentId, date_start AS dateStart, period, date_last AS dateLast, ext1, ext2, ext3, ext4, ext5, ext6
    </sql>

</mapper>
